{% extends 'base.html' %}
{% load static %}

{% block title %}Редактирование профиля{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile_edit.css' %}">
{% endblock %}

{% block content %}
    <div class="profile-edit-container">
        <h2 class="form-title">Редактирование профиля</h2>
        <form method="post" enctype="multipart/form-data" class="profile-edit-form">
            {% csrf_token %}

            <div class="avatar-upload">
                <div class="avatar-preview">
                    {% if request.user.profile.avatar %}
                        <img src="{{ request.user.profile.avatar.url }}" alt="Аватар">
                    {% else %}
                        <img src="{% static 'images/default-avatar.png' %}" alt="Аватар по умолчанию">
                    {% endif %}

                    <div class="overlay">
                        <button type="button" onclick="document.getElementById('id_avatar').click()">Заменить</button>
                    </div>
                </div>
                <div style="display: none;">{{ profile_form.avatar }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-field">
                    {{ user_form.first_name.label_tag }}
                    {{ user_form.first_name }}
                </div>
                <div class="form-field">
                    {{ user_form.last_name.label_tag }}
                    {{ user_form.last_name }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-field">
                    {{ profile_form.phone.label_tag }}
                    {{ profile_form.phone }}
                </div>
                <div class="form-field">
                    {{ profile_form.github_url.label_tag }}
                    {{ profile_form.github_url }}
                </div>
            </div>

            <div class="form-field">
                {{ profile_form.about.label_tag }}
                {{ profile_form.about }}
            </div>

            {% if form.errors %}
                <div class="form-errors">
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="form-actions">
                <a href="/users/{{ user.id }}" class="cancel-button">Отмена</a>
                <button type="submit" class="save-button">Сохранить</button>
            </div>
        </form>
    </div>
{% endblock %}
